@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rowdies&display=swap');
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Rowdies', cursive;
}

.container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    font-size: 3vw;
    gap: 1vw;
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
    height: 5vw;
    font-size: 2vw;
}